:root {
  --maastricht_blue: #001B3A;
  --az_purple: #8A0051;
  --az_gold: #EFAB00;
  --off_white: #d9d9d9;
}

body{
  min-height: 100%;
  background: linear-gradient(to bottom, var(--az_purple), var(--maastricht_blue));
  background-attachment: fixed;
}

h1{
    color:white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    font-weight: lighter;
}

h2{ 
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size:30px; 
  font-weight: lighter;
}

canvas{
  background: white;
  border-radius: 8px;
  width: 100% !important;
  height: 100% !important;

}

#title_header{ 
  text-align: center;
}

#ai_select{
  color: white;
  font-family: Arial, Helvetica, sans-serif
}

#manufacture_select{
  color: white;
  font-family: Arial, Helvetica, sans-serif
}

#manufacture_nav_btn{
  background-image: url("/undraw_factory_4d61.png");
}

#ai_nav_btn{
   background-image: url("/undraw_artificial-intelligence_43qa (1).svg");
}

.nav_btn{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 200px;
  height: 200px;
  border: none; 
  outline: none;
  transition: 0.5s;
}

.nav_btn:hover{
  opacity:0.6;
  cursor: grab;
}

.grid_container{
  display: grid;
  width: 50vw;
  min-width: 320px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 150px;
  gap: 1rem;
  padding: 50px;
}

.grid_container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}

.chart_grid_container{
  display: grid;
  width: 90vw;
  min-width: 320px;
  margin: 0 auto;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: auto;
  gap: 2rem;
  padding: 2rem;
}

.chart_grid_container > div{
  min-height: 300px;
}

#graph_C1,#graph_C2{
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

#monthly_radar, #weekly_radar{
  height:80%
}